@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.Toastify__toast-container {
    position: absolute;
    top: 40px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

.Toastify__toast {
    border-radius: 40px;
    min-height: 44px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    background-color: #1a1c26;
    color: white;
}

.Toastify__close-button {
    display: none;
}
