{
  "status": "Exists",
  "details": {
    "data": {
      "dataType": "moveObject",
      "type": "0x2::coin::Coin<0x2::sui::SUI>",
      "has_public_transfer": true,
      "fields": {
        "balance": {{balance}},
        "id": {
          "id": "0xfd9cff9fd6befa0e7d6481d0eeae02056b2ca46e"
        }
      }
    },
    "owner": {
      "AddressOwner": "0x1ce5033e82ae9a48ea743b503d96b49b9c57fe0b"
    },
    "previousTransaction": "jfVcjIzB7BdGwGfvX6nz9kETcvWLVuf6N8pdbWpYH8w=",
    "storageRebate": 16,
    "reference": {
      "objectId": "0xfd9cff9fd6befa0e7d6481d0eeae02056b2ca46e",
      "version": 2,
      "digest": "RlbPCxa3xsT+LIM0sutHL0OVbKqT5HS4O+YXjdNBYJE="
    }
  }
}