{
  "effects": {
    "status": {
      "status": "success"
    },
    "gasUsed": {
      "computationCost": 48,
      "storageCost": 48,
      "storageRebate": 32
    },
    "transactionDigest": "7fZ76NmXVKzWPSEyiR3rTExp3bZ9NNyWtamVYnZ84UiU",
    "created": [
      {
        "owner": {
          "AddressOwner": "0x1ce5033e82ae9a48ea743b503d96b49b9c57fe0b"
        },
        "reference": {
          "objectId": "0x19cd6aba5b099dffccd94f660fbee88a6eaea6e8",
          "version": 3838,
          "digest": "dSafR4PWD3yoP1IIfvIM/MJ5Y0eXzx+eCVgxsJvYgOM="
        }
      }
    ],
    "mutated": [
      {
        "owner": {
          "AddressOwner": "0x1ce5033e82ae9a48ea743b503d96b49b9c57fe0b"
        },
        "reference": {
          "objectId": "0x395c50c614cc22156c9de8db24163f48e4ff66ae",
          "version": 3838,
          "digest": "dCpDnIw+npsYqZIkUYQZqBRWNmufKJXjva85u9BZXCk="
        }
      },
      {
        "owner": {
          "AddressOwner": "0x1ce5033e82ae9a48ea743b503d96b49b9c57fe0b"
        },
        "reference": {
          "objectId": "0xb1476dc46615a392a4f5bc4e61a5a7d30d42c769",
          "version": 3838,
          "digest": "rN6naj6kqLI16JIqY4Dq1EIx5drvg4bkHwol8+C8AAU="
        }
      }
    ],
    "gasObject": {
      "owner": {
        "AddressOwner": "0x1ce5033e82ae9a48ea743b503d96b49b9c57fe0b"
      },
      "reference": {
        "objectId": "0x395c50c614cc22156c9de8db24163f48e4ff66ae",
        "version": 3838,
        "digest": "dCpDnIw+npsYqZIkUYQZqBRWNmufKJXjva85u9BZXCk="
      }
    },
    "events": [
      {
        "coinBalanceChange": {
          "packageId": "0x0000000000000000000000000000000000000002",
          "transactionModule": "gas",
          "sender": "0x1ce5033e82ae9a48ea743b503d96b49b9c57fe0b",
          "changeType": "Gas",
          "owner": {
            "AddressOwner": "0x1ce5033e82ae9a48ea743b503d96b49b9c57fe0b"
          },
          "coinType": "0x2::sui::SUI",
          "coinObjectId": "0x395c50c614cc22156c9de8db24163f48e4ff66ae",
          "version": 3837,
          "amount": -64
        }
      },
      {
        "coinBalanceChange": {
          "packageId": "0x0000000000000000000000000000000000000002",
          "transactionModule": "pay",
          "sender": "0x1ce5033e82ae9a48ea743b503d96b49b9c57fe0b",
          "changeType": "Receive",
          "owner": {
            "AddressOwner": "0x1ce5033e82ae9a48ea743b503d96b49b9c57fe0b"
          },
          "coinType": "0x2::sui::SUI",
          "coinObjectId": "0x19cd6aba5b099dffccd94f660fbee88a6eaea6e8",
          "version": 3838,
          "amount": 1000000
        }
      },
      {
        "coinBalanceChange": {
          "packageId": "0x0000000000000000000000000000000000000002",
          "transactionModule": "pay",
          "sender": "0x1ce5033e82ae9a48ea743b503d96b49b9c57fe0b",
          "changeType": "Pay",
          "owner": {
            "AddressOwner": "0x1ce5033e82ae9a48ea743b503d96b49b9c57fe0b"
          },
          "coinType": "0x2::sui::SUI",
          "coinObjectId": "0xb1476dc46615a392a4f5bc4e61a5a7d30d42c769",
          "version": 3833,
          "amount": -1000000
        }
      }
    ],
    "dependencies": [
      "fhLeS7zmEQxUdEnNyvmAiyyDw11Xuxqv135JzsSnhqB",
      "7RvgfKrWJjLik81aCXWZfeyyAzGYsZfpgm58P4941usi"
    ]
  },
  "results": {
    "Ok": []
  }
}
