{
    "effects": {
      "messageVersion": "v1",
      "status": { "status": "success" },
      "executedEpoch": "380",
      "gasUsed": {
        "computationCost": "1000",
        "storageCost": "26",
        "storageRebate": "0",
        "nonRefundableStorageFee": "0"
      },
      "transactionDigest": "Bb8sJZYywLi2DeLAwP7AebCTJ7czv2pFM3UvanteTxRH",
      "created": [
        {
          "owner": {
            "AddressOwner": "0x9c65bb2d2fab3d1c43b5da00bc3453ab9d81c8175772e58823f480fdb0542887"
          },
          "reference": {
            "objectId": "0xb1e9a104c28704fabaa242966f63749af93480ac9b9a38f3df1eba9b2beabedc",
            "version": 1,
            "digest": "FgXTy89Z2AW9TCfhK5sTewQQfps1peW9dAw1EHrYP6jc"
          }
        }
      ],
      "mutated": [
        {
          "owner": {
            "AddressOwner": "0xb0e24ba1afc3d2f5e348b569e72e94cf20ec2cecf3cd27edea1c3ad628e5374c"
          },
          "reference": {
            "objectId": "0xfb8b654a97014a6843446b13e5b762cae3a6f6e33bbfb9b2e76d4b1978c9c488",
            "version": 1,
            "digest": "24zKdypqck2aeb3ne3WbYP2SXp9bRJZLzNxaSqtK96JG"
          }
        }
      ],
      "gasObject": {
        "owner": {
          "AddressOwner": "0xb0e24ba1afc3d2f5e348b569e72e94cf20ec2cecf3cd27edea1c3ad628e5374c"
        },
        "reference": {
          "objectId": "0xfb8b654a97014a6843446b13e5b762cae3a6f6e33bbfb9b2e76d4b1978c9c488",
          "version": 1,
          "digest": "24zKdypqck2aeb3ne3WbYP2SXp9bRJZLzNxaSqtK96JG"
        }
      }
    },
    "events": [],
    "results": [
      {
        "mutableReferenceOutputs": [
          [
            "GasCoin",
            [
              251, 139, 101, 74, 151, 1, 74, 104, 67, 68, 107, 19, 229, 183, 98,
              202, 227, 166, 246, 227, 59, 191, 185, 178, 231, 109, 75, 25, 120,
              201, 196, 136, 192, 161, 252, 83, 2, 0, 0, 0
            ],
            "0x2::coin::Coin<0x2::sui::SUI>"
          ]
        ],
        "returnValues": [
          [
            [
              177, 233, 161, 4, 194, 135, 4, 250, 186, 162, 66, 150, 111, 99,
              116, 154, 249, 52, 128, 172, 155, 154, 56, 243, 223, 30, 186, 155,
              43, 234, 190, 220, 64, 66, 15, 0, 0, 0, 0, 0
            ],
            "0x2::coin::Coin<0x2::sui::SUI>"
          ]
        ]
      },
      {}
    ]
  }