{
    "digest": "5jMyX1omQRte43yRUPsoJK9KBmEHf7JT8CFSW7nJn3jc",
    "effects": {
      "messageVersion": "v1",
      "status": { "status": "success" },
      "executedEpoch": "203",
      "gasUsed": {
        "computationCost": "1000",
        "storageCost": "53",
        "storageRebate": "13",
        "nonRefundableStorageFee": "0"
      },
      "modifiedAtVersions": [
        {
          "objectId": "0x919aaf0eb0175681d2024e5b34502428f16acdd0819b84d2bc2d31bddb7b1f45",
          "sequenceNumber": "9"
        }
      ],
      "transactionDigest": "5jMyX1omQRte43yRUPsoJK9KBmEHf7JT8CFSW7nJn3jc",
      "created": [
        {
          "owner": {
            "AddressOwner": "0x9c65bb2d2fab3d1c43b5da00bc3453ab9d81c8175772e58823f480fdb0542887"
          },
          "reference": {
            "objectId": "0x854f2ca6cf081102a17a9d074f757a80cf434f47e8b0d1685484333f6a40e5ff",
            "version": 10,
            "digest": "E9Zi8NRp5ZLt4MztmTAXFd6d4dQYLmogJUkBuk5X6nYY"
          }
        }
      ],
      "mutated": [
        {
          "owner": {
            "AddressOwner": "0x9c65bb2d2fab3d1c43b5da00bc3453ab9d81c8175772e58823f480fdb0542887"
          },
          "reference": {
            "objectId": "0x919aaf0eb0175681d2024e5b34502428f16acdd0819b84d2bc2d31bddb7b1f45",
            "version": 10,
            "digest": "34Bu85zthNV41tvT5WXqryFEGr1aFK4Tsc7PHTUT2w2s"
          }
        }
      ],
      "gasObject": {
        "owner": {
          "AddressOwner": "0x9c65bb2d2fab3d1c43b5da00bc3453ab9d81c8175772e58823f480fdb0542887"
        },
        "reference": {
          "objectId": "0x919aaf0eb0175681d2024e5b34502428f16acdd0819b84d2bc2d31bddb7b1f45",
          "version": 10,
          "digest": "34Bu85zthNV41tvT5WXqryFEGr1aFK4Tsc7PHTUT2w2s"
        }
      },
      "eventsDigest": "5a6oi1DDtsMuaZ6k6fKyEvzn2BKeE2LzJ7TPTcQfmBip",
      "dependencies": [
        "59Dw1ySAkYKPHBth5tidaisEmCR7mXVMm794jCcsKfBm",
        "GGCJ1FxDQo7x9FVM28rYzCJdveSX6okDjJRGumLUpuwL"
      ]
    },
    "confirmedLocalExecution": true
}