{
    "data": [
        {
            "coinType": "0x2::sui::SUI",
            "coinObjectId": "0xf51bfc7d98d86fbd75f19d16c37484b0f0f7382eb6c9bfcad2fe4a94be2c8822",
            "version": 2,
            "digest": "D8TAUrjwXtpYi1iLvLH2gxPFcdPJ3QGCDgkd7n9bDAxe",
            "balance": 181104845,
            "lockedUntilEpoch": null,
            "previousTransaction": "AYWVC7CXcFeycD6K11soBSpK8tEfhQRP2Vffh78m5Az"
        }
    ],
    "nextCursor": "0xf51bfc7d98d86fbd75f19d16c37484b0f0f7382eb6c9bfcad2fe4a94be2c8822",
    "hasNextPage": false
}