{
    "data": [
        {
            "coinType": "0x2::sui::SUI",
            "coinObjectId": "0x19fe0d83a3e3cb15570b6edc1160a15cc894e690",
            "version": 1041572,
            "digest": "gAPrVxmhOFz763GTP4udv4ZQyimyRokZBIPv9nmjwpo=",
            "balance": 181104845,
            "lockedUntilEpoch": null
        }
    ],
    "nextCursor": null
}