{
    "visibility": "Public",
    "isEntry": true,
    "typeParameters": [
        {
            "abilities": []
        },
        {
            "abilities": []
        },
        {
            "abilities": []
        }
    ],
    "parameters": [
        {
            "MutableReference": {
                "Struct": {
                    "address": "0xb01f7d11da6c2d04b5225f43770d42d2cbbe52aaf5c27ec29d1188d78090e719",
                    "module": "liquidity_pool",
                    "name": "GlobalStorage",
                    "typeArguments": []
                }
            }
        },
        {
            "Struct": {
                "address": "0x2",
                "module": "coin",
                "name": "Coin",
                "typeArguments": [
                    {
                        "TypeParameter": 0
                    }
                ]
            }
        },
        "U64",
        {
            "Struct": {
                "address": "0x2",
                "module": "coin",
                "name": "Coin",
                "typeArguments": [
                    {
                        "TypeParameter": 1
                    }
                ]
            }
        },
        "U64",
        {
            "MutableReference": {
                "Struct": {
                    "address": "0x2",
                    "module": "tx_context",
                    "name": "TxContext",
                    "typeArguments": []
                }
            }
        }
    ],
    "return": []
}