{
    "visibility": "Public",
    "isEntry": true,
    "typeParameters": [],
    "parameters": [
        {
            "MutableReference": {
                "Struct": {
                    "address": "0x2",
                    "module": "coin",
                    "name": "TreasuryCap",
                    "typeArguments": [
                        {
                            "Struct": {
                                "address": "0x1cbfdf7de5004f887705fa53bb345d4372e5004bd8b04a6f8868f5e1ca1af9c7",
                                "module": "ethos_example_coin",
                                "name": "ETHOS_EXAMPLE_COIN",
                                "typeArguments": []
                            }
                        }
                    ]
                }
            }
        },
        "U64",
        {
            "MutableReference": {
                "Struct": {
                    "address": "0x2",
                    "module": "tx_context",
                    "name": "TxContext",
                    "typeArguments": []
                }
            }
        }
    ],
    "return": []
}