[
    {
        "data": {
            "objectId": "0x986b14a24acd0c8bb2b08d166069d6a2361f48e76f34151efc773e5cb98da53b",
            "version": "518744",
            "digest": "7RCckzzpwZ8V3BKkJyGk1RyCMbugcKhRK4mdT4f9kc7u",
            "owner": {
                "Shared": {
                    "initial_shared_version": 223
                }
            }
        }
    }
]