{
    "effects": {
        "messageVersion": "v1",
        "status": {
            "status": "success"
        },
        "executedEpoch": "5",
        "gasUsed": {
            "computationCost": "1000",
            "storageCost": "58",
            "storageRebate": "38",
            "nonRefundableStorageFee": "0"
        },
        "modifiedAtVersions": [
            {
                "objectId": "0x04ceb16e44a3c96ec2cb3fdf064af5d6f48d60414c4e8099d74ed66d18cfb2d3",
                "sequenceNumber": "518744"
            },
            {
                "objectId": "0x986b14a24acd0c8bb2b08d166069d6a2361f48e76f34151efc773e5cb98da53b",
                "sequenceNumber": "518744"
            }
        ],
        "sharedObjects": [
            {
                "objectId": "0x986b14a24acd0c8bb2b08d166069d6a2361f48e76f34151efc773e5cb98da53b",
                "version": "518744",
                "digest": "7RCckzzpwZ8V3BKkJyGk1RyCMbugcKhRK4mdT4f9kc7u"
            }
        ],
        "transactionDigest": "4VqLEZzgYKMgKiUirGr9DLFpGY2ikLYq19AQTKcMUxxo",
        "created": [
            {
                "owner": {
                    "AddressOwner": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de"
                },
                "reference": {
                    "objectId": "0x8edeea9aa25793ec1a3f5faaf067ed42d42f30a1c99e373c7f9d8bd7db277b1c",
                    "version": "518745",
                    "digest": "5dG15KnwxJ3WMfKtmGCCSgvvMpu4gex1R1ikZgWfXxju"
                }
            }
        ],
        "mutated": [
            {
                "owner": {
                    "AddressOwner": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de"
                },
                "reference": {
                    "objectId": "0x04ceb16e44a3c96ec2cb3fdf064af5d6f48d60414c4e8099d74ed66d18cfb2d3",
                    "version": "518745",
                    "digest": "HfRVwYawwzywiNxd7BUMPPtjtdVLpkExLxu5aUHLxkur"
                }
            },
            {
                "owner": {
                    "Shared": {
                        "initial_shared_version": 223
                    }
                },
                "reference": {
                    "objectId": "0x986b14a24acd0c8bb2b08d166069d6a2361f48e76f34151efc773e5cb98da53b",
                    "version": "518745",
                    "digest": "EfycxscLbZK8CDsnTCNHFg7mP9tUMSTRu8zN356kwbNu"
                }
            }
        ],
        "gasObject": {
            "owner": {
                "AddressOwner": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de"
            },
            "reference": {
                "objectId": "0x04ceb16e44a3c96ec2cb3fdf064af5d6f48d60414c4e8099d74ed66d18cfb2d3",
                "version": "518745",
                "digest": "HfRVwYawwzywiNxd7BUMPPtjtdVLpkExLxu5aUHLxkur"
            }
        },
        "dependencies": [
            "3gtx8nr2ouLgHD46RjTZ4cC6ftmcattLA2xzw3jGPHE5",
            "86S5RWMy2KRnsuChhdXHwLWeYwuDJJAcGfA8JrRW6J9p"
        ]
    },
    "events": [],
    "objectChanges": [
        {
            "type": "mutated",
            "sender": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de",
            "owner": {
                "AddressOwner": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de"
            },
            "objectType": "0x2::coin::Coin<0x2::sui::SUI>",
            "objectId": "0x04ceb16e44a3c96ec2cb3fdf064af5d6f48d60414c4e8099d74ed66d18cfb2d3",
            "version": "518745",
            "previousVersion": "518744",
            "digest": "HfRVwYawwzywiNxd7BUMPPtjtdVLpkExLxu5aUHLxkur"
        },
        {
            "type": "mutated",
            "sender": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de",
            "owner": {
                "Shared": {
                    "initial_shared_version": 223
                }
            },
            "objectType": "0x2::coin::TreasuryCap<0x1cbfdf7de5004f887705fa53bb345d4372e5004bd8b04a6f8868f5e1ca1af9c7::ethos_example_coin::ETHOS_EXAMPLE_COIN>",
            "objectId": "0x986b14a24acd0c8bb2b08d166069d6a2361f48e76f34151efc773e5cb98da53b",
            "version": "518745",
            "previousVersion": "518744",
            "digest": "EfycxscLbZK8CDsnTCNHFg7mP9tUMSTRu8zN356kwbNu"
        },
        {
            "type": "created",
            "sender": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de",
            "owner": {
                "AddressOwner": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de"
            },
            "objectType": "0x2::coin::Coin<0x1cbfdf7de5004f887705fa53bb345d4372e5004bd8b04a6f8868f5e1ca1af9c7::ethos_example_coin::ETHOS_EXAMPLE_COIN>",
            "objectId": "0x8edeea9aa25793ec1a3f5faaf067ed42d42f30a1c99e373c7f9d8bd7db277b1c",
            "version": "518745",
            "digest": "5dG15KnwxJ3WMfKtmGCCSgvvMpu4gex1R1ikZgWfXxju"
        }
    ],
    "balanceChanges": [
        {
            "owner": {
                "AddressOwner": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de"
            },
            "coinType": "0x2::sui::SUI",
            "amount": "-1020"
        },
        {
            "owner": {
                "AddressOwner": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de"
            },
            "coinType": "0x1cbfdf7de5004f887705fa53bb345d4372e5004bd8b04a6f8868f5e1ca1af9c7::ethos_example_coin::ETHOS_EXAMPLE_COIN",
            "amount": "100000"
        }
    ]
}