{
    "effects": {
        "messageVersion": "v1",
        "status": {
            "status": "success"
        },
        "executedEpoch": "5",
        "gasUsed": {
            "computationCost": "1000",
            "storageCost": "58",
            "storageRebate": "25",
            "nonRefundableStorageFee": "0"
        },
        "modifiedAtVersions": [
            {
                "objectId": "0x986b14a24acd0c8bb2b08d166069d6a2361f48e76f34151efc773e5cb98da53b",
                "sequenceNumber": 518744
            },
            {
                "objectId": "0xcf311bab38c6f9030f1889595f54eb8d00f670debf04e196522b595bb2b2f314",
                "sequenceNumber": 1
            }
        ],
        "sharedObjects": [
            {
                "objectId": "0x986b14a24acd0c8bb2b08d166069d6a2361f48e76f34151efc773e5cb98da53b",
                "version": 518744,
                "digest": "7RCckzzpwZ8V3BKkJyGk1RyCMbugcKhRK4mdT4f9kc7u"
            }
        ],
        "transactionDigest": "Dnm8ZKKbNwyCYatga9rCapyzJq3mejVtKKyBNrX59q8c",
        "created": [
            {
                "owner": {
                    "AddressOwner": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de"
                },
                "reference": {
                    "objectId": "0xf40ab59a70bfecc0cc885ba46d9b2b517c59479bf295a50865171658d1fd52b7",
                    "version": 518745,
                    "digest": "Gnu2S4itRC8bZ1uPNBdXRG1pPnsMtPK1oecu4FPSHRtL"
                }
            }
        ],
        "mutated": [
            {
                "owner": {
                    "Shared": {
                        "initial_shared_version": 223
                    }
                },
                "reference": {
                    "objectId": "0x986b14a24acd0c8bb2b08d166069d6a2361f48e76f34151efc773e5cb98da53b",
                    "version": 518745,
                    "digest": "3KBpR16AjGgp69HbxBhZxvFQxz4bbztt69XtKnsaN4kE"
                }
            },
            {
                "owner": {
                    "AddressOwner": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de"
                },
                "reference": {
                    "objectId": "0xcf311bab38c6f9030f1889595f54eb8d00f670debf04e196522b595bb2b2f314",
                    "version": 518745,
                    "digest": "97YvpwDffpfY4zfSbQzgM8LcLDQ8Lxwro19Gvn6ngdyt"
                }
            }
        ],
        "gasObject": {
            "owner": {
                "AddressOwner": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de"
            },
            "reference": {
                "objectId": "0xcf311bab38c6f9030f1889595f54eb8d00f670debf04e196522b595bb2b2f314",
                "version": 518745,
                "digest": "97YvpwDffpfY4zfSbQzgM8LcLDQ8Lxwro19Gvn6ngdyt"
            }
        },
        "dependencies": [
            "3gtx8nr2ouLgHD46RjTZ4cC6ftmcattLA2xzw3jGPHE5",
            "86S5RWMy2KRnsuChhdXHwLWeYwuDJJAcGfA8JrRW6J9p"
        ]
    },
    "events": [],
    "objectChanges": [
        {
            "type": "mutated",
            "sender": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de",
            "owner": {
                "Shared": {
                    "initial_shared_version": 223
                }
            },
            "objectType": "0x2::coin::TreasuryCap<0x1cbfdf7de5004f887705fa53bb345d4372e5004bd8b04a6f8868f5e1ca1af9c7::ethos_example_coin::ETHOS_EXAMPLE_COIN>",
            "objectId": "0x986b14a24acd0c8bb2b08d166069d6a2361f48e76f34151efc773e5cb98da53b",
            "version": 518745,
            "previousVersion": 518744,
            "digest": "3KBpR16AjGgp69HbxBhZxvFQxz4bbztt69XtKnsaN4kE"
        },
        {
            "type": "mutated",
            "sender": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de",
            "owner": {
                "AddressOwner": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de"
            },
            "objectType": "0x2::coin::Coin<0x2::sui::SUI>",
            "objectId": "0xcf311bab38c6f9030f1889595f54eb8d00f670debf04e196522b595bb2b2f314",
            "version": 518745,
            "previousVersion": 1,
            "digest": "97YvpwDffpfY4zfSbQzgM8LcLDQ8Lxwro19Gvn6ngdyt"
        },
        {
            "type": "created",
            "sender": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de",
            "owner": {
                "AddressOwner": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de"
            },
            "objectType": "0x2::coin::Coin<0x1cbfdf7de5004f887705fa53bb345d4372e5004bd8b04a6f8868f5e1ca1af9c7::ethos_example_coin::ETHOS_EXAMPLE_COIN>",
            "objectId": "0xf40ab59a70bfecc0cc885ba46d9b2b517c59479bf295a50865171658d1fd52b7",
            "version": 518745,
            "digest": "Gnu2S4itRC8bZ1uPNBdXRG1pPnsMtPK1oecu4FPSHRtL"
        }
    ],
    "balanceChanges": [
        {
            "owner": {
                "AddressOwner": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de"
            },
            "coinType": "0x2::sui::SUI",
            "amount": "99999999999998967"
        },
        {
            "owner": {
                "AddressOwner": "0xff263a941b9650b51207a674d59728f6f34102d366f4df5a59514bc3668602de"
            },
            "coinType": "0x1cbfdf7de5004f887705fa53bb345d4372e5004bd8b04a6f8868f5e1ca1af9c7::ethos_example_coin::ETHOS_EXAMPLE_COIN",
            "amount": "100000"
        }
    ]
}