{
  "jsonrpc": "2.0",
  "id": "00000001-91fc-4614-835a-ba55d1439f7c",
  "result": {
    "status": "Exists",
    "details": {
      "data": {
        "dataType": "moveObject",
        "type": "0x2::devnet_nft::DevNetNFT",
        "has_public_transfer": true,
        "fields": {
          "description": "Description of: {{name}}",
          "id": {
            "id": "0xc157dc52d54697f53329520499500de0ec6fcf70"
          },
          "name": "{{name}}",
          "url": "https://arweave.net/3gor757Mk4fgRloWa24ovSA96EJvyriUtNZQvyDF_AI"
        }
      },
      "owner": {
        "AddressOwner": "0x1ce5033e82ae9a48ea743b503d96b49b9c57fe0b"
      },
      "previousTransaction": "6HAc8T6i9D37h6xcn4pxqtE7JL41zoR14rSxqZwUxS3R",
      "storageRebate": 27,
      "reference": {
        "objectId": "0xc157dc52d54697f53329520499500de0ec6fcf70",
        "version": 429,
        "digest": "vyXSuRiYyZgqnJwp2oiAUBXHdEN3pw5l8qkE8xuFXqc="
      }
    }
  }
}


