{
  "txBytes": "{{base64EncodedTxBytes}}",
  "gas": {
    "objectId": "0x62e80b99c821a8d62d92d0f98397b4bac3fa4e3b",
    "version": 3829,
    "digest": "C0lVaYXizNPJgVHfxsHt77Z8+Mc4SNK96Dzi6B+nrTs="
  },
  "inputObjects": [
    {
      "ImmOrOwnedMoveObject": {
        "objectId": "0x19fe0d83a3e3cb15570b6edc1160a15cc894e690",
        "version": 3829,
        "digest": "qs3Nyojbz06FoA0L+vHTTBgINP3N9I14XMncHoGnFGo="
      }
    },
    {
      "ImmOrOwnedMoveObject": {
        "objectId": "0x62e80b99c821a8d62d92d0f98397b4bac3fa4e3b",
        "version": 3829,
        "digest": "C0lVaYXizNPJgVHfxsHt77Z8+Mc4SNK96Dzi6B+nrTs="
      }
    }
  ]
}
