{
    "jsonrpc":"2.0",
    "result":{
        "openrpc":"1.2.6",
        "info":{
            "title":"Sui JSON-RPC",
            "description":"Sui JSON-RPC API for interaction with Sui Full node.",
            "contact":{"name":"Mysten Labs",
            "url":"https://mystenlabs.com",
            "email":"build@mystenlabs.com"
        },
        "license":{"name":"Apache-2.0",
        "url":"https://raw.githubusercontent.com/MystenLabs/sui/main/LICENSE"},
        "version":"0.19.0"
    }
}